$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  // background-color: red
}

.container{
    font-size: 15rem;

    .content{
        color: white;

        .box{
            border-radius: 50%
        }
    }
}
